<app-menu-user></app-menu-user>
<header class="header-section">
  <h1>Bienvenue, {{ user?.nomComplet }}  !</h1>
  <div class="header-content">
  </div>
</header>
<main>
  <section class="labo-info-section" *ngIf="laboratoire">
    <h2>Informations sur votre laboratoire</h2>
    <div class="labo-details">
      <img [src]="laboratoire.logo" alt="Logo du laboratoire" class="labo-logo" />
      <div class="labo-text">
        <p><strong>Nom du laboratoire :</strong> {{ laboratoire.nom }}</p>
        <p><strong>NRC :</strong> {{ laboratoire.nrc }}</p>
        <p><strong>Date d'activation :</strong> {{ laboratoire.dateActivation }}</p>
      </div>
    </div>
  </section>
  <section class="page-info-section">
    <h2>Que trouverez-vous ici ?</h2>
    <p>
      Cette page est conçue pour vous offrir une expérience complète :
    </p>
    <ul>
      <li>Consultez les informations liées à votre laboratoire.</li>
      <li>Effectuez et suivez vos demandes de congés.</li>
      <li>Mettez à jour vos informations personnelles si nécessaire.</li>
    </ul>
  </section>
</main>
