<app-menu-user></app-menu-user>
<div class="adresses-container">
  <h3>Liste des analyses</h3>


 <!-- Liste des analyses -->
 <div *ngIf="analyses.length > 0" class="analyses-table">
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let analyse of analyses">
        <td>{{ analyse.nom }}</td>
        <td>{{ analyse.description }}</td>
        <td>
          <button mat-button color="primary" (click)="visualiserTests(analyse.id)">
            <i class="fas fa-eye"></i>  tests & epreuve
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Message si aucune analyse n'est disponible -->
<div *ngIf="analyses.length === 0" class="no-analyses">
  <p>Aucune analyse disponible.</p>
</div>
</div>
