
<button mat-button color="primary" (click)="retourLaboratoires()" class="mt-4">
  <i class="fas fa-arrow-left"></i> Retour aux laboratoires
</button> 

<div class="container mt-4">
  <h3>Utilisateurs du Laboratoire {{ laboratoireId }}</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Rôle</th>
      <th>Profession</th>
      <th>Signature</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.nomComplet }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.numTel }}</td>
      <td>{{ user.profession }}</td>
      <td>{{ user.signature }}</td>
      <td>
      <button class="btn btn-sm btn-primary" (click)="AfficherDossierParUser(user.id)">
        Voir les dossiers
      </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
