<nav class="navbar navbar-expand-lg  shadow">
  <div class="container">
    <a class="navbar-brand" href="#">
      <!-- Logo -->
      <img src="assets/images/logo.png" alt="Logo" width="80" height="80" class="d-inline-block align-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/accueil" routerLinkActive="active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/laboratoires" routerLinkActive="active">Laboratoires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ajouter-laboratoire" routerLinkActive="active">Ajouter un Laboratoire</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-3">
  <h3 class="text-center">Ajouter un nouveau Laboratoire</h3>
  <form (ngSubmit)="onSubmit()" class="form-spacing">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" [(ngModel)]="laboratoire.nom" name="nom" required>
      </div>

      <div class="form-group col-md-6">
        <label for="nrc">NRC</label>
        <input type="text" class="form-control" id="nrc" [(ngModel)]="laboratoire.nrc" name="nrc" required>
      </div>
    </div>

    <div class="form-group">
      <label for="logo">Logo</label>
        <input type="text" class="form-control" id="logo" [(ngModel)]="laboratoire.logo" name="logo" required>
    </div>

    <div class="form-group">
      <label for="active">Active</label>
      <input type="checkbox" id="active" [(ngModel)]="laboratoire.active" name="active">
    </div>

    <div class="form-group">
      <label for="dateActivation">Date d'Activation</label>
      <input type="date" class="form-control" id="dateActivation" [(ngModel)]="laboratoire.dateActivation" name="dateActivation" required>
    </div>

    <button class="btn btn-success mt-2" type="submit">Ajouter</button>
  </form>
</div>
