::ng-deep .mat-dialog-container {
  width: 400px; /* Ajustez la largeur si nécessaire */
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  
  /* Centrage parfait */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
