<h2 mat-dialog-title>Ajouter une analyse</h2>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input id="nom" matInput [(ngModel)]="analyse.nom" name="nom" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea id="description" matInput [(ngModel)]="analyse.description" name="description" required></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Annuler</button>
  <button id="add" mat-button color="primary" (click)="addAnalyse()">Ajouter</button>
</mat-dialog-actions>

