<div class="form-container">
    <h3>Ajouter une Analyse</h3>
    <form (ngSubmit)="ajouterAnalyse()" class="analyse-form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nom</mat-label>
        <input matInput [(ngModel)]="analyse.nom" name="nom" required />
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="analyse.description" name="description" required></textarea>
      </mat-form-field>
  
      <div class="buttons">
        <button mat-raised-button color="primary" type="submit">Ajouter</button>
        <button mat-stroked-button color="warn" (click)="closeDialog()">Annuler</button>
      </div>
    </form>
  </div>
  